[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[oeegor]
row=2
col=0

[407b9b93-00c4-4104-aded-25ebb271455e]
row=0
col=0

[8484-8253]
row=1
col=0

[/]
row=3
col=0

[/home/oeegor]
row=4
col=0

