[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[c567c300-add0-4a6d-ac75-fddc1b4bd59b]
row=0
col=0

[EBA2-C72D]
row=1
col=0

[49d97fb7-39f6-474c-9478-0ffe3b4fce6e]
row=2
col=0

[/]
row=3
col=0

[/home/oeegor]
row=4
col=0

